@model ProyectoIndicadores.Models.Sector

@{
    ViewBag.Title = "Detalles del Sector";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<fieldset>
    <legend>Detalles del Sector</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "EditarSector", "Admin", new { id = Model.pk }, "") |
    @Html.ActionLink("Regresar a la Lista", "ListaSectores", "Admin")
</p>
