@model IEnumerable<ProyectoIndicadores.Models.Area>

@{
    ViewBag.Title = "ListaAreas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListaAreas</h2>

<p>
    @Html.ActionLink("Crear nueva", "NuevaArea", "Admin")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            Sector:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sector.nombre)
        </td>
        <td>
            @Html.ActionLink("Indicadores", "VerIndicadoresArea", "Home", new { id=item.pk }, null)|
            @Html.ActionLink("Editar", "EditarArea", new { id=item.pk }) |
            @Html.ActionLink("Detalles", "DetallesArea", new { id=item.pk }) |
            @Html.ActionLink("Borrar", "BorrarArea", new { id=item.pk })
        </td>
    </tr>
}

</table>
