@model IEnumerable<ProyectoIndicadores.Models.Indicador>

@{
    ViewBag.Title = "ListaIndicadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListaIndicadores</h2>

<p>
    @Html.ActionLink("Crear nuevo", "NuevoIndicador", "Admin")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.meta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.institucional)
        </th>
        <th>
            Proveedor:
        </th>
        <th>
            Areas:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.meta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.institucional)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proveedor.nombre_usuario)
        </td>
        <td>
            <ul>
            @foreach (var area in item.aplica_en.ToList())
            {
                <li>
                    @area.area.nombre
                </li>    
            }
            </ul>
        </td>
        <td>
            @Html.ActionLink("Enrolar Area", "AnexarArea", new { id = item.pk }, "") |
            @Html.ActionLink("Editar", "EditarIndicador", "Admin", new { id=item.pk }, "") |
            @Html.ActionLink("Detalles", "Detallesindicador", "Admin", new { id=item.pk }, "") |
            @Html.ActionLink("Borrar", "BorrarIndicador", "Admin", new { id=item.pk }, "")
        </td>
    </tr>
}

</table>
