@model IEnumerable<ProyectoIndicadores.Models.Sector>

@{
    ViewBag.Title = "Lista de los Sectores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sectores</h2>

<p>
    @Html.ActionLink("Crear nuevo", "NuevoSector", "Admin")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarSector", "Admin" , new { id=item.pk }, "") |
            @Html.ActionLink("Detalles", "DetallesSector", "Admin", new { id = item.pk }, "") |
            @Html.ActionLink("Dorrar", "BorrarSector", "Admin" , new { id=item.pk }, ""))
        </td>
    </tr>
}

</table>
