@model ProyectoIndicadores.Models.Usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.correo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.correo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.apellido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apellido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre_usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre_usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contrasenia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contrasenia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.salt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.salt)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.pk }) |
    @Html.ActionLink("Back to List", "Index")
</p>
