@model IEnumerable<ProyectoIndicadores.Models.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contrasenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contrasenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk })
        </td>
    </tr>
}

</table>
