@model ProyectoIndicadores.Models.Indicador

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Indicador</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.meta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.meta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.i_s)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.i_s)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.institucional)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.institucional)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.proveedor.correo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.proveedor.correo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.pk }) |
    @Html.ActionLink("Back to List", "Index")
</p>
