@model ProyectoIndicadores.Models.Aplica

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Aplica</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.indicador.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.indicador.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.valor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.valor)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.pk }) |
    @Html.ActionLink("Back to List", "Index")
</p>
