@model ProyectoIndicadores.Models.Area

@{
    ViewBag.Title = "EditarArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditarArea</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Area</legend>

        @Html.HiddenFor(model => model.pk)

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descripcion)
            @Html.ValidationMessageFor(model => model.descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sector_id, "sector")
        </div>
        <div class="editor-field">
            @Html.DropDownList("sector_id", String.Empty)
            @Html.ValidationMessageFor(model => model.sector_id)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la Lista", "ListaArea", "Admin")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
