@model ProyectoIndicadores.Models.Indicador

@{
    ViewBag.Title = "NuevoIndicador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NuevoIndicador</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Indicador</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.meta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.meta)
            @Html.ValidationMessageFor(model => model.meta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.institucional)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.institucional)
            @Html.ValidationMessageFor(model => model.institucional)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.menor_meta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.menor_meta)
            @Html.ValidationMessageFor(model => model.menor_meta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.proveedor_id, "proveedor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("proveedor_id", String.Empty)
            @Html.ValidationMessageFor(model => model.proveedor_id)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la Lista", "ListaIndicadores", "Admin")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
